body {
  background-image: url('http://alexzabota.github.io/img/spider_man.jpg');
  background-size: cover;
  background-attachment: fixed;
color: #FFF
}
h1 {
padding: 10px 15px 15px;
margin: 5px 0 20px 10px;
color: #B41CCE;
font-size: 100px;
}
p{
padding: 10px 15px;
margin: 3% 45% 0 3%;
background-color: #B41CCE ;
color: #ffffff;
font-size: 15px;
}
